---
import Section from '@/components/Section.astro';

import {publications} from "@cv";
---

<Section title="Publicaciones">
    <ul>
        {publications.map(({ name, releaseDate, publisher, summary, url }) => {
            return (
                <li>
                    <article>
                        <header>
                            <div>
                                <h3>{name}</h3>
                                <h4>{publisher} - {releaseDate}</h4>
                            </div>
                        </header>
                        <footer>
                            <p>{summary}</p>
                            <a href={url}>{url}</a>
                        </footer>
                    </article>
                </li>
            )})
        }
    </ul>
</Section>

<style>
    ul {
        display: grid;
        gap: 1rem;
        flex-direction: column;
    }

    article h3 {
        font-weight: 600;
        color: #111;
    }

    article h4 {
        font-weight: 500;
        padding-top: 4px;
        color: #222;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 8px;
    }

    time {
        color: #555;
        font-size: 0.9rem;
    }

    article a {
        padding-top: 4px;
        color: #444;
        text-decoration: none;
    }

    footer {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
    }
</style>