---
import Section from '@/components/Section.astro';

import {volunteer} from "@cv";
---

<Section title="Voluntariado">
    <ul>
        {volunteer.map(({ organization, position, url, startDate, endDate, summary }) => {

            return (
                <li>
                    <article>
                        <header>
                            <h3>{organization}</h3>
                            <h4>{position}</h4>
                            <p>{startDate} · {endDate}</p> 
                            <p>{summary}</p>
                        </header>
                    </article>
                </li>
            )
        })}
    </ul>
</Section>

<style> 
    ul {
        display: grid;
        gap: 1rem;
        flex-direction: column;
    }

    article h3 {
        font-weight: 700;
        color: #111;
    }

    article h4 {
        font-weight: 500;
        color: #222;
    }

    header {
        gap: 8px;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    time {
        color: #555;
    }
</style>